doctype html
html(lang="ru")
	// Main Layout block from Layout.pug
	block head
			head
					meta(charset="utf-8")
					title Title your site
					meta(content="width=device-width, initial-scale=1" name="viewport")
					meta(content="ie=edge" http-equiv="x-ua-compatible")

					// inject:css
					// inject:head:js
					// endinject

	body
			block header
					include header
			block content
			block footer
					include footer
			block scripts

			// inject:js
			// endinject
