extends html/Import/Layout

block content
	//Some Comments in index.pug
	main.main
		h2 Title
		img(src="img/defolt.jpg", alt="pic1")
		.tabs Some text
		h2 IcoMoon-Free Font Reference
		.clearfix.bshadow0.pbs
			span.icon.icon-office
		h3 Imge
		// inject:png
		img(src="img/file.png", alt="pic2")
		//endinject
